.title_logos {
    margin: 1vw 0 1vw 0.5vw;
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.title_logo {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 500;
    color: white;
}

.highlight_title {
    background-color: #a564642b;
    margin-left: -20px;
    border-radius: 5px;
}

.group_title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}